*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: rgb(50, 73, 248);
}
.shape {
  margin: 0 auto;
  aspect-ratio: 1;
  position: relative;
  --width: 100%;
  --scale: 1;
  --opacity: 0.9;
  --top: 0;
  --left: 0;
  --path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  --background: linear-gradient(#6439ff, #4f75ff, #00ccdd, #4f75ff, #6439ff);
  --offset: 50deg;
  --speed: 8000ms;
  clip-path: var(--path);
  background: var(--background);
  scale: var(--scale);
  opacity: var(--opacity);
  width: var(--width);
  top: var(--top);
  left: var(--left);
  rotate: var(--offset);
  mix-blend-mode: difference;
  animation: turn var(--speed) linear infinite alternate;
  @keyframes turn {
    to {
      rotate: calc(var(--offset) + 5turn);
    }
  }
}
.blur-container {
  --blur: 40px;
  filter: blur(var(--blur));
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  overflow: hidden;
}
.content-container {
  position: relative;
  z-index: 2;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 32px);
}

.container {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#floatingInput input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 5;
}

#floatingPassword input[type="password"] {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-control:focus {
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  box-shadow: none !important;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login-divider {
  height: 400px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 300px;
}

.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: calc(100vh - 32px);
  width: 100%;
}

.index-container > div {
  height: 100%;
}

#initial-view {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: flex-start;
}

#final-view {
  display: grid;
  width: 100%;
  height: 100%;
}

.l-panel {
  min-width: 300px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.l-panel::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

#mood-form-container {
  height: 100%;
}

#mood-buttons {
  min-height: none;
  overflow: auto;
  padding-top: 8px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.mood-button {
  font-size: 0.7rem;
}

.subdiv {
  display: grid;
  height: 100%;
}

#mood-buttons::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

#spectrum-label {
  margin-top: 16px;
  width: 100%;
  align-self: end;
}

#spectrum-label div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#spectrum-bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #00ccdd, #4f75ff, #6439ff);
}

.r-panel {
  background: linear-gradient(#00cbdd27, #6439ff27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  width: 100%;
  min-width: 965px;
  height: 100%;
  color: white;
}

.panel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
  height: 90%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.panel-grid::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.panel-grid > div {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mood-dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: black;
}

button {
  border: none;
}

.bubble {
  padding: 16px;
}

.feed {
  height: 100%;
  justify-content: flex-start !important;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.feed::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
